{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>UnderTwitter: Analisis de usuarios y estadisticas en Twitter.</title>

</head>
<body style="padding-top: 70px;">
    <!-- Header -->
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index_twitter' %}"><img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> UnderTwitter</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index_twitter' %}">Inicio <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Analisis </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">cerrar sesión </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'social:begin' 'twitter' %}">Iniciar sesión </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
<section>
    {% block content %} {% endblock %}
</section>

    <!-- Footer -->
    <footer class="footer" style="width: 100%;background: #343a40!important;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="row">
                    <div class="navbar-brand col-md 6">
                        <h3 class="col-md-offset-4">Nosotros:</h3>
                        <ul>
                            <li>
                                <a href="#">Contacto.</a>
                            </li>

                            <li>
                                <a href="#">Sobre nosotros.</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-brand col-md-6">
                        <h3 class="col-md-offset-4">Informacion:</h3>
                        <ul>
                            <li>
                                <a href="#">Politica y privacidad.</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-brand col-md-12">
                        <div class="container">
                            <p>@ 2018 UnderTwitter. Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </footer>

</body>
</html>